.flight {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

.flyicon-container {
    height: 4rem;
    width: 4rem;
    background: rgba(0, 119, 255, 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flyicon {
    width: 2.1875rem;
    height: 2.1875rem;
}

.flight__content {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flight__content_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flight__content_cities {
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
}

.flight__content_date {
    font-size: 14px;
    line-height: 22px;
    color: #878787;
}

.flight__content_company {
    font-size: 14px;
    color: #878787;
    line-height: 22px;
}

.flight__content_addition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.flight__content_icon {
    width: 21px;
    height: auto;
}

.flight__content_icon:hover {
    cursor: pointer;
}

.flight__content_price {
    font-size: 11px;
    line-height: 22px;
    color: #878787;
}

.flight__content_sum {
    margin-left: 0.5rem;
    font-size: 17px;
    line-height: 22px;
    color: #424242;

}

.like {
    fill: #EB1717;
}
